<p-dialog header="Login" [(visible)]="displayLogin" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="username">Username</label></div>
            <div class="ui-grid-col-8"><input pInputText id="username" [(ngModel)]="username" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="password">Password</label></div>
            <div class="ui-grid-col-8"><input type="password" pPassword [(ngModel)]="password" /></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton icon="fa-check" (click)="login()" label="Login"></button>
        </div>
    </footer>
</p-dialog>